<div class="container">
    <div class="title__container d-flex align-items-center">
        <h2 class="me-3">OVERVIEW</h2>
        <div class="breadcrumb d-flex align-items-center pt-3">
            <span>Tableau de bord</span>
            <span class="separator"></span>
            <span>{{'2024-01-14'|date}}</span>
            <span class="separator"></span>
            <span>Dakar, Sénégal</span>
        </div>
    </div>
    <div class="main__content">
        <div class="row g-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card__header d-flex align-items-center justify-content-between">
                            <h3>Aperçu général des réalisations</h3>
                            <span>2023</span>
                        </div>
                        <div class="card__body" style="height: 150px;">
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card__header d-flex align-items-center justify-content-between">
                            <h3>Ventes du mois</h3>
                            <button class="d-flex align-items-center justify-content-center">
                                <img src="assets/images/fleche.png" alt="arrow" width="5">
                            </button>                        
                        </div>
                        <div class="card__content mt-2">
                            <div class="row g-2">
                                <div class="col">
                                    <div class="small__card p-2 px-3 d-flex flex-column justify-content-between">
                                        <div class="small__card__top d-flex align-items-center">
                                            <span class="blue-point me-2"></span>
                                            Mobile
                                        </div>
                                        <div class="small__card__content">
                                            221
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="small__card p-2 px-3 bg-gray d-flex flex-column justify-content-between">
                                        <div class="small__card__top d-flex align-items-center">
                                            <span class="green-point me-2"></span>
                                            Fixe
                                        </div>
                                        <div class="small__card__content">
                                            221
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card yesterday__card">
                    <div class="card-body">
                        right
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>