<main class="container-fluid">
  <nav class="d-flex justify-content-between">
    <div class="nav__left">
      <img src="assets/images/logo.png" alt="logo">
    </div>
    <div class="nav__right d-flex">
      <button>
        <img src="assets/images/notification-icon.png" alt="logo">
      </button>
      <div class="profile d-flex align-items-center">
        <div class="profile__left">
          <img src="assets/images/orbit.png" alt="logo">
        </div>
        <div class="profile__right">
          <h4>Mouhamed Gueye</h4>
          <h6>Responsable SI</h6>
        </div>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-3">
      <aside class="d-flex flex-column">
        @for(button of buttons; track button) {
          <button (click)="redirect(button.path)" class="d-flex justify-content-start align-items-center">
            <img src="{{isActiveUrl(button.path) ? button.imageActive : button.image}}" alt="icon">
            <span>{{button.libelle}}</span>
          </button>
        }
      </aside>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>