:host {
    .breadcrumb > * {
        color: var(--breadcrumb);
        font-size: 16px;
    }
    h2 {
        font-weight: 500;
        font-family: SF_Pro_Display_Bold;
    }
    .separator {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: var(--breadcrumb);
        margin: 0 10px;
    }
}